
*.pyc
*.docx
*.md
*.db
*.bak
*.json 
*.log


!/scrapers 

webtoons/*
data/*
build/*
dist/*
__pycache__/*
data/thumbnails/*
teste/*
scrapers/sites/*
.venv/
 
!/scrapers/sites
!/scrapers/sites/__init__.py
!SCRAPPER GUIDE.MD
